body{
    background-color: #BBDED6;
    background-image:url(./img/bg.jpg);
    cursor:url(./img/brush_cur.png)16 32,auto;
}
.menu{
    width: 780px;
    margin: 6px auto;
    padding: 3px;
    background-color:  rgb(255, 255, 255,0.9);
    text-align:center;
}
.button{
    background-color: rgb(255, 255, 255);
    width: 56px;height: 56px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 6px;
    background-size:46px 46px;
    background-repeat: no-repeat;
    background-position: center; 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.select{
    margin: 5px; 
}
.button:hover {
    background-color: rgb(255, 227, 227); 
    color: white;
}
#brush{
    background-image:url(./img/brush.png);
}
#eraser{
    background-image:url(./img/eraser.png);
}
#line{
    background-image:url(./img/line.png);
}
#round{
    background-image:url(./img/round.png);
}
#image{
    background-image:url(./img/image.png);
}
#text{
    background-image:url(./img/text.png);
}
#undo{
    background-image:url(./img/undo.png);
}
#redo{
    background-image:url(./img/redo.png);
}
#refresh{
    background-image:url(./img/refresh.png);
}
#download{
    background-image:url(./img/download.png);
}

.button2{
    background-color: rgba(255, 255, 255, 0);
    width: 26px;height: 26px;
    border:none;
    background-size:16px 16px;
    background-repeat: no-repeat;
    background-position: center; 
}
.selected{
    border: 1px solid rgb(255, 71, 47);
    border-radius: 2px;
}
#circle{
    background-image:url(./img/circle.png);
    margin-right:5px;
}
#square{
    background-image:url(./img/square.png);
}
#italic{
    background-image:url(./img/italic.png);
}
#bold{
    background-image:url(./img/bold.png);
}
#canvas{
    border: 2px solid gray;
    margin: auto;
    display: block;
}